.myrecipes{
    display: inline-block;
    text-align: left;
}

body{
    text-align: center;
}

.Ingredients{
    color: darkorange;
    font-weight: bold;
    height: auto;
    width: 300px;
    margin-left: 1080px;
    padding: 5px;
}

#main-cover{
    background-color: beige;
}

#pizza-link{
    height: auto;
    width: 200px;
    margin-left: 1135px;
    padding: 10px;
}

#lasagna-link{
    height: auto;
    width: 250px;
    margin: auto;
    padding: 10px;
}

#chicken-link{
    height: auto;
    width: 250px;
    margin: auto;
    padding: 10px;
}

#chicken-cover, #pizza-cover, #lasagna-cover{
    background-color: beige;
    font-size: 20px;
}

.pizza-steps{
    height: auto;
    width: 600px;
    padding: 10px;
    margin-left: 900px;
    margin-top: -15px;
}

#lasagna-steps-header{
    border: 1px olid;
    height: auto;
    width: 100px;
    margin: auto;
}

.lasagna-steps{
    border: 1px soid;
    height: auto;
    width: 600px;
    margin-left: 925px;
    margin-top: -15px;
}

.chicken-steps{
    height: auto;
    width: 550px;
    margin-left: 960px;
    margin-top: -20px;
}