.myrecipes{
    display: inline-block;
    text-align: left;
}

body{
    text-align: center;
}

.Ingredients{
    color: red;
}

#main-cover{
    background-color: beige;
}

#pizza-link{
    height: auto;
    width: 200px;
    margin-left: 1135px;
    padding: 10px;
}

#lasagna-link{
    height: auto;
    width: 250px;
    margin: auto;
    padding: 10px;
}

#chicken-link{
    height: auto;
    width: 250px;
    margin: auto;
    padding: 10px;
}

#chicken-cover, #pizza-cover, #lasagna-cover{
    background-color: beige;
}

